@for (item of filterDetails ; track item.name) {
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Name:{{ item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="{{item.imageUrl}}">
        <img src="{{item.imageUrl1}}">
        <p>Category:{{item.category.name}}</p>
        <p>Final Price:{{finalPrice(item)}}</p>
        <p>Discount:{{item.discount}}</p>
        <p>In Stock:{{item.instock}}</p>
        <button mat-button (click)=" addToCart(item)">Add to Cart</button>
        <button mat-button (click)="addReview()">Add Review</button>
    </mat-card-content>
</mat-card>
}
<mat-accordion>
 <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> Customer Reviews </mat-panel-title>
      <mat-panel-description>
        click to see reviews
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>this product is very good</p>
  </mat-expansion-panel>
</mat-accordion>