@for (item of cartItem ; track $index; let i=$index) {
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Name:{{ item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="{{item.imageUrl}}">
        <p>Category:{{item.category.name}}</p>
        <p>Price:{{item.price}}</p>
        <p>Discount:{{item.discount}}</p>
        <button (click)="remove(i)" mat-button>Remove</button>
        <button (click)="decrement(item)" mat-button>-</button>
        <p>{{item.quantity}}</p>
        <button (click)="increment(item)" mat-button>+</button>
        <button mat-button>submit</button>
    </mat-card-content>
</mat-card>
}