<div class="position">
    <mat-card class="card">
        <mat-card-title class="login">Login Form</mat-card-title><br>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                    @if (loginForm.get('email')?.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email')) {
                    <mat-error>Enter a valid email</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('gmail')) {
                    <mat-error>Email must end with &#64;gmail.com</mat-error>
                    }
                </mat-form-field><br>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    @if (loginForm.get('password')?.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                    }
                    @if (loginForm.get('password')?.hasError('minlength')) {
                    <mat-error>Minimum 5 characters required</mat-error>
                    }
                    @if (loginForm.get('password')?.hasError('invalidPassword')) {
                    <mat-error>Password must have max 10 chars & one special character</mat-error>
                    }
                </mat-form-field><br>
                <button mat-button class="button" color="primary" type="submit"
                    [disabled]="!loginForm.valid">submit</button>
                <a mat-button routerLink="/signup">Register Here</a>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<router-outlet></router-outlet>