<div class="position">
    <mat-card class="card">
        <mat-card-title class="login">Login Form</mat-card-title><br>
        <mat-card-content>
            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <mat-form-field>
                    <mat-label> Username</mat-label>
                    <input matInput type="text" required minlength="5" name="username" text ngModel>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label> Password</mat-label>
                    <input matInput type="password" required minlength="5" name="password" text ngModel #password>
                </mat-form-field><br>
                <button mat-button class="button" color="primary" type="submit"
                    [disabled]="!myForm.valid">submit</button>
                <a mat-button routerLink="/signup">Register Here</a>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<router-outlet></router-outlet>