<!-- <h2 mat-dialog-title>Add Product</h2>
<div mat-dialog-content>
  <form #eventform="ngForm">
<mat-form-field style="width: 80%;">
<mat-label>name</mat-label>
<input matInput [(ngModel)]="name" name="name" #nameRef="ngModel" required minlength="3"/>
</mat-form-field><br>
<mat-form-field>
  <mat-label>category</mat-label>
  <input matInput [(ngModel)]="category" name="category" #categoryRef="ngModel" required min="2">
</mat-form-field><br>
<mat-form-field>
  <mat-label>price</mat-label>
  <input matInput [(ngModel)]="price" name="price" #priceRef="ngModel" required>
</mat-form-field><br>
<mat-form-field>
  <mat-label>discount</mat-label>
  <input matInput [(ngModel)]="discount" name="discount" #discountRef="ngModel" minlength="5" required>
</mat-form-field><br>
</form>
<div>
    <button mat-button (click)="close()">Cancel</button>
    <button [disabled]="productform.invalid"  mat-button  (click)="save()">Save</button>
</div> -->