<div class="position">
    <mat-card class="form">
        <mat-card-title class="title">Register Here</mat-card-title>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput required minlength="5" type="text" ngModel name="name">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput required minlength="10" ngModel type="email" name="email">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput required minlength="5" ngModel type="text" name="username">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput required minlength="5" ngModel type="password" name="password">
            </mat-form-field><br>

            <button mat-button class="button" [disabled]="!myForm.valid" color="primary">Submit</button>
        </form>
    </mat-card>
</div>